@import "./_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $n-grey;
    min-width: 1300px;
}

html::-webkit-scrollbar {
    @include hideScroll;
}

ul {
    list-style-type: none;
}

.flag {
    width: 30px;
    vertical-align: sub;
}